input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    font-size: 0.8rem;
}

label {
    font-size: 1rem;
}

.h5 {
    font-weight: 300;
}

small {
    font-size: 0.7rem;
    color: red;
}

.drop-down {
    font-size: 0.9rem;
    background-color: #ffffff;
    font-weight: 300;
    border-style: none;
    border: 1px solid rgb(207, 204, 204);
}

h1{
    color: green;
}
